#results {
    background-color: aqua;
}

.App_maim_display {
    margin-top: 40px;
}

#display {
    margin-bottom: 800px;
}

body {
    background-image: url("https://cdn.hipwallpaper.com/i/94/27/IZwTnb.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width:100%;
}

.container{
    margin-right:0px;
    margin-left: 0px;
}

img {
    height: 550px;
    max-width: 100%;
}

#buttons {
    width: 100%;
}

.btn {
    margin-top: 50px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
}

p{
    color: white;
    background-color: black;
    font-size: 30px;
}

#display {
    margin-top: 50px;
}